<head>
<style type="text/css">
	.btn{
    line-height: 0.4571;;
  }
</style>
</head>
<div>

<% if comment.user !nil%>
  <h4>Comment by <%= comment.user.email %></h4>
  <p class="comment<%=comment.id %>"><%= comment.body %></p>
<%end %>
  <% if user_signed_in? %>
 
  <% if (current_user.id ==comment.user_id)  && (current_user.is_active==true) || (current_user.roles ==true)%>
   
   <button type="button" class="btn btn-primary"><%= link_to "Delete comment", article_comment_path(:article_id=>@article.id,:id=>comment.id), method: :delete, data: {confirm: "really delete the comment"}, remote: true %></button>

 <% end %>
 <% if (current_user.id ==comment.user_id) && (current_user.is_active==true) %>
<button type="button" class="btn btn-primary"><%= link_to "Edit comment", edit_article_comment_path(:article_id=>@article.id,:id=>comment.id), remote: true %></button>
 <% end %>
 <% end %>
<p>Posted <%= distance_of_time_in_words( comment.created_at,Time.now.utc) %> ago</p>
</div>
