
<head>
<style type="text/css">
  .btn{
    line-height: 0.4571;;
  }
</style>
</head>
<h3> Article title</h3><%= @article.title %>
<h3> Article body</h3><%= @article.body %><br>
<% if user_signed_in? %>
<% if current_user.is_active==true %>
  <% if (current_user.roles==true) || (current_user.id ==@article.user_id) %>
<button type="button" class="btn btn-primary"><%= link_to "Edit article", edit_article_path(@article) %></button>
<button type="button" class="btn btn-primary"><%= link_to "Delete article", article_path(@article), method: :delete,data: {confirm: "Really delete the article?"}
 %></button>

 <p>
  <h3>Tags:</h3>
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>
<% end %>
<% end %>
<% if @article.image.exists? %>
       <%= image_tag @article.image.url(:medium) %>
       <% else %>
       <h2> no image </h2>

  <% end %>
<% end %>
  <p>
  
  <% @attachment.each do |image| %>
    <%= image_tag image.photo(:thumb) %>
    <% if user_signed_in? %>
    <% if current_user.is_active==true %>
    <% if (current_user.roles==true) || (current_user.id ==@article.user_id) %>
<button type="button" class="btn btn-primary"><%= link_to "Delete", destroy_image_path(:id=>image.id,:article_id=>@article.id), method: :delete,data: {confirm: "really delete the image"}%></button>
<% end%>
<% end %>
<% end %>
  <% end %>
<h3>Comments 
<% if @article.comments.size==0%>
<%= "no comments yet" %>
<%else%>
(<%= @article.comments.size %>)</h3>
<% end %>
<div id='com'>
<%= render partial: 'articles/comment', collection: @article.comments %>
</div>
<div class="flash">


<%= render partial: 'comments/form' %>
</div>
<%= link_to " Back to Articles List", articles_path, :class => 'new_article' %>
